*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    width: 100%;
    flex: 1 1 auto;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header-logo>img, .head-right>img{
    display: block;
}
.header-top, .header-bottom{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav>ul{
    display: flex;
}
nav>ul>li{
    margin: 5px;
    list-style: none;
}
nav>ul>li>a{
    color: black;
    text-decoration: none
}
nav>ul>li>a:hover{
    color: lightslategray;
}
.head-left, .head-right{
    max-width: 50%;
}
button{
    width: 25%;
    border-radius: 12px;
}
#maison{
    max-width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
}
figure{
    border: 1px solid transparent;
    margin: 6px;
    box-shadow: 1px 2px 4px;
}
figcaption{
    text-align: center;
}